/* Estilos generales */
body {
    font-family: 'Georgia', serif;
    background-color: #f8f1e5;
    color: #5a3e36;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Títulos */
h1 {
    color: #8b5e3c;
    font-size: 36px;
}

/* Párrafos */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* Botón de confirmación */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    background-color: #cbbba0;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7b6a58;
}

body {
    background-image: url('pexels-lamiko-3616764.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
    transition: background-color 0.5s, transform 0.3s;
}

.seccion {
  margin-bottom: 100px; /* Separa cada sección */
}

html {
  scroll-behavior: smooth;
}





